.header {
  padding: 28px 0;
  background-color: $color-main-dark;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__nav {
  margin-right: 40px;
  margin-left: auto;
}

.header__icon-profile {
  @extend %hover-for-icon;

  position: relative;
  width: 28px;
  height: 28px;
  background-image: url('../img/icon_profile.svg');
  cursor: pointer;
}

.header__icon-profile-icon {
  display: inline-block;
}

.header__burger {
  display: none;
  margin-left: 40px;

  @include media-large-tablet {
    display: block;
  }
}
