.header {
  padding: 28px 0;
  background-color: $color-main-dark;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__nav {
  margin-right: 40px;
  margin-left: auto;
}

.header__icon-profile {
  position: relative;
  width: 28px;
  height: 28px;
  background-image: url('../img/icon_profile.svg');
  cursor: pointer;

  @extend %hover-for-icon;
}

.header__icon-profile-icon {
  display: inline-block;
}
