.header {
  padding: 28px 0;
  background-color: $color-main-dark;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__nav {
  margin-right: 40px;
  margin-left: auto;

  @include media-large-tablet {
    margin-right: 0;
  }
}
.header__icon-profile {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.header__icon-profile_without-registering {
  background-image: url('../img/icon_profile.svg');
}
.header__icon-profile_registering {
  @include font-inter($font-size: 1.5rem, $line-height: 2rem);

  color: $color-primary;
  background-color: $color-white;
  border-radius: 50%;
  text-transform: uppercase;
}

.header__icon-profile-icon {
  display: inline-block;
}
.header__burger {
  display: none;
  margin-left: 40px;

  @include media-large-tablet {
    display: block;
  }
}
.header__profile-menu {
  @include media-large-tablet {
    right: 105px;
  }

  position: absolute;
  top: 60px;
  right: 20px;
}
