.nav {
  
  @include media-large-tablet {
    display: none;
  }
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
}
.nav__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.nav__link {
  @include font-inter($color: $color-white);

  @extend %underline-for-link;
}
