@mixin font-inter(
  $font-size: 2rem,
  $font-weight: 400,
  $font-style: normal,
  $line-height: normal,
  $letter-spacing: normal,
  $color: black
) {
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  font-family: 'Inter', sans-serif;
  color: $color;
  letter-spacing: $letter-spacing;
}

@mixin font-forum(
  $font-size: 2rem,
  $font-weight: 400,
  $font-style: normal,
  $line-height: normal,
  $letter-spacing: normal,
  $color: black
) {
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  font-family: 'Forum', cursive;
  color: $color;
  letter-spacing: $letter-spacing;
}

@mixin transition($transition-property...) {
  transition-timing-function: linear;
  transition-duration: 0.3s;
  transition-property: $transition-property;
}

@mixin btn(
  $border: none,
  $background-color: $color-primary,
  $padding: 16px 45px
) {
  @include font-georgia($font-size: 1.7rem);

  display: inline-block;
  padding: $padding;
  letter-spacing: 1px;
  background-color: $background-color;
  border: $border;
  border-radius: 100px;
  cursor: pointer;
}

@mixin media-laptop {
  @media (max-width: $content-width) {
    @content;
  }
}
@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}
@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}
@mixin media-hover {
  @media (hover: hover) {
    @content;
  }
}
