@import 'mixins';

%underline-for-link {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 1px;
    margin-top: 3px;
    background-color: $color-white;
    transform: translateX(-50%);
    opacity: 0;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  &:hover::after {
    width: 100%;
    opacity: 1;
  }
}

%hover-for-icon {
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

%transition-for-btn {
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: background-color, border-color;
  &:hover {
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

%layout-2-column {
  @include media-intermediate-tablet {
    flex-direction: column;
  }

  display: flex;
  justify-content: space-between;
}
