.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  width: 18px;
  height: 18px;
  background-image: url('../img/close_btn.svg');
  background-size: contain;
  cursor: pointer;

  &_buy {
    top: 23px;
    background-image: url('../img/close_btn\ \(1\).svg');
  }

  &_profile {
    top: 25px;
    right: 25px;
  }
}
