.profile-modal {
  position: fixed;
  top: 50vh;
  left: 50%;
  z-index: 13;
  display: none;
  width: 600px;
  transform: translate(-50%, -50%);

  &_active {
    display: flex;
  }
}
.profile-modal__left-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  background-color: $color-main-dark;
}
.profile-modal__icon {
  @include font-inter($line-height: 2rem);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
  color: $color-primary;
  text-transform: uppercase;
  background-color: $color-white;
}

.profile-modal__name {
  @include font-inter($line-height: 2rem);

  display: flex;
  justify-content: center;
  width: 120px;
  padding: 5px 0;
  text-align: center;
  background-color: $color-white;
}
.profile-modal__right-block {
  padding: 29px 60px 39px 20px;
  background-color: $color-white;
}
.profile-modal__title {
  @include font-forum($font-size: 4rem, $letter-spacing: 0.8px);

  margin-bottom: 27px;
  text-transform: uppercase;
}
.profile-modal__info-name {
  @include font-inter($line-height: 2rem, $letter-spacing: 0.2px);

  margin-bottom: 10px;
}
.profile-modal__info-img {
  margin-bottom: 10px;
}
.profile-modal__info {
  display: flex;
  align-self: center;
  margin-bottom: 20px;
  column-gap: 22px;
}
.profile-modal__subtitle {
  @include font-inter($font-size: 2.5rem, $line-height: 2rem);

  margin-bottom: 30px;
}
.profile-modal__book-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  overflow-x: scroll;
  white-space: nowrap;
  row-gap: 10px;

  &::-webkit-scrollbar {
    display: none;
  }
}
.profile-modal__item {
  @include font-inter(
    $font-size: 2rem,
    $line-height: 2rem,
    $letter-spacing: 2px
  );

  position: relative;
  padding-left: 30px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    display: block;
    width: 10px;
    height: 100%;
    background-image: url('../img/point.svg');
  }
}
.profile-modal__row {
  display: flex;
  column-gap: 15px;
}
.profile-modal__text {
  @include font-inter($font-size: 2rem, $line-height: 2rem);

  display: inline-block;
  color: $color-main-dark;
}
.profile-modal__card-number {
  @include font-inter($font-size: 2rem, $line-height: 2rem);

  display: inline-block;
  color: $color-primary;
}
.profile-modal__icon-copy {
  display: inline-block;
  align-self: center;
  width: 12px;
  height: 13.3px;
  padding-left: 15px;
  background-image: url('../img/icon\ copy.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}
