.search-card {
}
.search-card__title {
  @include font-inter($font-size: 30px, $letter-spacing: 0.6px);

  margin-bottom: 30px;
text-align: center;
}
.search-card__form {
  width: 600px;
  padding: 19px 18px 26px 19px;
  border: 3px solid #bb945f;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.search-card__form-inputs {
  padding: 20px 20px 25px 20px;
  background-color: $color-primary;
  margin-bottom: 19px;
}
.search-card__library-name {
  @include font-forum(
  $font-size: 30px,
  $line-height: 50px,
  $letter-spacing: 0.6px
  );

  margin-bottom: 19px;
}
.search-card__user-name {
  @extend %form-input;

  margin-bottom: 24px;
}
.search-card__card-number {
  @extend %form-input;
}
.search-card__search-btn {
  margin: 0 auto;
}