$img-width: 450px;

%styles-for-arrows {
  display: none;

  @media (max-width: $content-width) {
    display: block;
  }
}

.slider {
  display: flex;
  flex-direction: column;

  @media (max-width: $content-width) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.slider__content {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media (max-width: $content-width) {
    align-self: center;
  }
}

.slider__wrapper {
  display: flex;
  // overflow: hidden;
  column-gap: 25px;
  transition: transform 0.3s ease-in-out;

  @media (max-width: $content-width) {
    width: $img-width;
    column-gap: 0;
  }
}
.slide__left-arrow {
  @extend %styles-for-arrows;

  margin-right: 58px;
}
.slide__right-arrow {
  @extend %styles-for-arrows;

  margin-left: 58px;
}
.slider__slide {
  display: block;
}
.slider__pagination {
  display: flex;
  margin: 35px auto 0;

  @media (max-width: $content-width) {
    margin: 21px auto 0;
  }
}
.slider__dot-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;

  &:nth-child(-n + 3) {
    display: inline-flex;
  }

  @media (max-width: $content-width) {
    display: inline-flex;
  }
}
.slider__dot {
  width: 16px;
  height: 16px;
  background-color: $color-main-dark;
  border-radius: 50%;

  &_select {
    background-color: $color-primary;
  }
}
