$distance: 38px;
$padding-right: 40px;

.sorter {
  padding-right: $padding-right;
}
.sorter__description {
  @include font-inter($font-weight: 700, $letter-spacing: 0.1px);

  margin-bottom: 45px;
}
.sorter__form {
  display: inline-flex;
  justify-content: space-between;
  width: 703px;
  margin-bottom: 42px;
}
.sorter__choice {
  position: relative;
  display: flex;
  align-items: center;

  &:not(:last-child) {
    // margin-right: 90px;
  }
}
.sorter__radio {
  display: none;

  & + .sorter__choice .sorter__season {
    @include font-inter($line-height: 0.9);

    position: relative;
    padding-left: $distance;
    cursor: pointer;
  }
  & + .sorter__choice .sorter__season::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 13px;
    height: 13px;
    border: solid 3px $color-black;
    border-radius: 50%;
  }
  & + .sorter__choice .sorter__season::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: none;
    width: 8px;
    height: 8px;
    background-color: $color-black;
    border-radius: 50%;
  }
  &:checked + .sorter__choice {
    // margin-right: 88px;
  }
  &:checked + .sorter__choice .sorter__season {
    padding-left: 33.5px;
    font-weight: 700;
  }
  &:checked + .sorter__choice .sorter__season::after {
    display: block;
  }
  & + .sorter__choice .sorter__external-zone {
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    transform: translateX(-5.5px);
    cursor: pointer;
  }
}
.sorter__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
}
.sorter__card {
}
.card {
  position: relative;
  display: none;
  flex-direction: column;
  width: 550px;
  height: 555px;
  padding: 15px 172px 14px 20px;
  border: 1px solid $color-black;

  &:nth-child(-n + 4) {
    display: flex;
  }
}
.card__book-status {
  @include font-forum(
    $font-size: 2rem,
    $line-height: 40px,
    $letter-spacing: 2px,
    $color: $color-black
  );

  position: relative;
  margin-bottom: 20px;

  &::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 58px;
    height: 0.5px;
    background-color: $color-primary;
  }
}
.card__book-title {
  @include font-inter(
    $font-size: 1.5rem,
    $font-weight: 700,
    $line-height: 40px,
    $letter-spacing: 2px
  );

  text-transform: uppercase;
}
.card__book-author {
  @include font-inter(
    $font-size: 1.5rem,
    $font-weight: 700,
    $line-height: 40px,
    $letter-spacing: 2px
  );

  margin-bottom: 20px;
}
.card__book-description {
  @include font-inter(
    $font-size: 1.5rem,
    $line-height: 40px,
    $letter-spacing: 2px
  );

  margin-bottom: 15px;
  text-transform: capitalize;
}
.card__btn {
  align-self: flex-start;
  margin-top: auto;
}
.card__img {
  position: absolute;
  right: -$padding-right;
  bottom: -1px;
}
